

body{
  margin: 0;
  background-image: url("../Images/topImage.jpg");
}



#logo{
  position: relative;
  left: 5%;
  transform: translateY(50%);
}

header{
  height: 100px;
  width: 100%;
  background-color: transparent;
  position: fixed;
  float: left;
  z-index: 1;
}


h1{
  height:1ch;
  width: 100%;
  position: absolute;
  top: 40%;
  text-align: center;
  font-size: 50px;
  color: #FFF;
  -webkit-animation:anim1 1.5s ease;
  animation:anim1 1.5s ease;
}

.gnavi{
  height: 100%;
  position: absolute;
  float: left;
  left: 10%;
  top:0;
  margin: 0;
}

.gnavi li{
  height: 100%;
  position: relative;
  float: left;
  margin: 0 20px;
  list-style: none;
}

.gnavi a {
  text-decoration: none;
  color:#AFAFAF;
  position: relative;
  top: 40%;
}

.gnavi .active , .gnavi a:hover{
  color:#FFF;
}


.gnavi .act-line{
  background-color: transparent;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
}.act-line.active{
  background-color: #FFF;
}


.right{
  transform: translateY(-150%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

  .langB{
  position:absolute;
  background-color: transparent;
  font-weight: bold;
  border: none;
  font-size: 16px;
  outline: none;
  margin: 15px 15px;
  left:-150%;
}

.langB li{
  cursor: pointer;
  list-style: none;
  float: left;
  margin: 0 20px;
}
.languages a{
  color:#FFF;
  text-decoration: none;
}

#contact{
  font-size: 16px;
  height: 50px;
  width: 150px;
  color:#FFF;
  outline: none;
  background: transparent;
  border: solid 2px #FFF;
  margin-left: 10px;
}#contact:hover{
  cursor:pointer;
  color:#1e1e1e;
  background-color: #FFF;
}

#bg-img{
  height: 100%;
  width: 100%;
  margin: 0;
  object-fit: cover;
}

.servs{
  width: 100%;
  height: auto;
  background-color: #000;
  position: absolute;
  top: 100%;
  margin: 0;
}


.item{
  height: 960px;
  float: left;
  cursor: pointer;
}

.item video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  outline: none;
}

.item p {
  width: 100%;
  color:#FFF;
  font-size: 40px;
  position: absolute;
  bottom: 0 ;
  text-align: center;
  font-weight: bold;
}

#uclub{
  position: relative;
  width : 33.33333% ; /* 未対応ブラウザ用フォールバック */
  width : -webkit-calc(100% / 3) ;
  width : calc(100% / 3) ;
  margin: 0;
}
#ustore{
  position: relative;
  width : 33.33333% ; /* 未対応ブラウザ用フォールバック */
  width : -webkit-calc(100% / 3) ;
  width : calc(100% / 3) ;
  margin: 0;
}
#urestaurant{
  position: relative;
  width : 33.33333% ; /* 未対応ブラウザ用フォールバック */
  width : -webkit-calc(100% / 3) ;
  width : calc(100% / 3) ;
  margin: 0;
}

footer{
  position: absolute;
  top: calc(100% + 960px);
  background-color: #000;
  color:#AFAFAF;
  width: 100%;
  height: 250px;
}

.fnavi{
  position: absolute;
  left: 50%;
  top:30%;
  transform: translate(-55%,0 );
}

.fnavi a{
  color:#AFAFAF;
  text-decoration: none;
}.fnavi a:hover{
  color:#FFF;
}

footer li{
  list-style: none;
  float: left;
  margin: 0 20px;

}

footer p{
  display: inline;
}

#law{
  position: absolute;
  bottom:10%;
  left: 50%;
  transform: translateX(-50%);
}

.f-left{
  position: absolute;
  left:220px;
  top:45%;
  transform: translateY(-50%);
}

#address{
  position: relative;
  top: 20px;
  left: -50%;
}

.fsns{
  position: absolute;
  right:220px;
  top:50%;
  transform: translateY(-50%);
}

.fsns li{
  margin: 0 20px;
  transform: translateY(-50%);
}


.img{
  height: 50px;
  width: 50px;
  background-color:transparent;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: bottom;
  cursor: pointer;
  border: none;
  outline: none;
}

#ig{
  background-image: url("../Images/ig.png");
}#ig:hover{
  background-image: url("../Images/ig-color.png");
}#fb{
  background-image: url("../Images/fb.png");
}#fb:hover{
  background-image: url("../Images/fb-color.png");
}#tw{
  background-image: url("../Images/tw.png");
}#tw:hover{
  background-image: url("../Images/tw-color.png");
}

#test{
  background: red;
  height: 50px;
  width: 50px;
  background-image: url("../Images/tw-color.png");
}

@keyframes anim1 {

  0%{
    transform: translate(0,-50px);
    opacity: 0;
  }

  100%{
    transform: translate(0,0);
    opacity: 1;
  }
}
